.admin-categories-page {
    &__create-category {
        background: #079BCF;
        color: white;
        padding: 10px 15px;
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 10px;
    }
}